*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Vazirmatn, sans-serif;
}
html {
	font-size: 62.5%;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	min-width: 320px;
	max-width: 1440px;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

:root {
	/* color */
	--primary-color: #cc312d;
	--secondary-color: #ff00001a;
	--primary-text-color: #1a1814;
	--secondary-text-color: #606060;

	/* typography */

	--font-base: Vazirmatn, sans-serif;

	--fs-xs: 0.75rem; /* 12px */
	--fs-sm: 0.875rem; /* 14px */
	--fs-base: 1rem; /* 16px */
	--fs-lg: 1.125rem; /* 18px */
	--fs-xl: 1.25rem; /* 20px */
	--fs-2xl: 1.5rem; /* 24px */
	--fs-3xl: 1.875rem; /* 30px */
	--fs-4xl: 2.25rem; /* 36px */
	--fs-5xl: 2.5rem; /* 40px */
}

/** _________________________________________  _________________________________________ **/
/** _____________________________  _____________________________  **/

/** _________________________________________ Header _________________________________________ **/

#header {
	height: 60px;
	background-color: burlywood;
}

/** _________________________________________ Main _________________________________________ **/

#main-content {
	background-color: brown;
}

/** _________________________________________ Footer _________________________________________ **/

#footer {
	height: 50px;
	background-color: blueviolet;
}
