*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Vazirmatn, sans-serif;
}
html {
	font-size: 62.5%;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	min-width: 320px;
	max-width: 1440px;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

:root {
	/* color */
	--primary-color: #cc312d;
	--secondary-color: #ff00001a;
	--primary-text-color: #1a1814;
	--secondary-text-color: #606060;
	--priamry-border-color: #cc312d1a;
	--secondary-border-color: #2f0d0c1a;

	--gray-color: #f7f7f7;
	--white-color: #ffff;

	/* typography */
	--font-base: Vazirmatn, sans-serif;

	--fs-xs: 0.75rem; /* 12px */
	--fs-sm: 0.875rem; /* 14px */
	--fs-base: 1rem; /* 16px */
	--fs-lg: 1.125rem; /* 18px */
	--fs-xl: 1.25rem; /* 20px */
	--fs-2xl: 1.5rem; /* 24px */
	--fs-3xl: 1.875rem; /* 30px */
	--fs-4xl: 2.25rem; /* 36px */
	--fs-5xl: 2.5rem; /* 40px */

	/* Base spacing unit */
	--space-0: 0;
	--space-1: 0.25rem; /* 4px */
	--space-2: 0.5rem; /* 8px */
	--space-3: 0.75rem; /* 12px */
	--space-4: 1rem; /* 16px */
	--space-5: 1.5rem; /* 24px */
	--space-6: 2rem; /* 32px */
	--space-7: 3rem; /* 48px */
	--space-8: 4rem; /* 64px */
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pointer {
	cursor: pointer;
}

/** _________________________________________  _________________________________________ **/
/** _____________________________  _____________________________  **/

/** _________________________________________ Header _________________________________________ **/

#header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	row-gap: var(--space-5);
}

.header-main {
	height: 56px;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr auto;
}

.header__menu-btn,
.header__cart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	padding: var(--space-3);
	cursor: pointer;
	border-radius: 52px;
	border: 2px solid var(--priamry-border-color);
}

.header-main .header__cart {
	border: 2px solid var(--secondary-border-color);
}

.header__logo {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-weight: bold;
	font-size: var(--fs-2xl);
}

.header__logo :first-child {
	color: var(--primary-color);
}

.header__cart {
	position: relative;
}

.header__cart-count {
	top: 0;
	right: 0;
	position: absolute;
	padding: var(--space-3);
	width: 10px;
	height: 10px;
	background-color: var(--primary-color);
	border-radius: 50px;
	color: var(--white-color);
}

.header-utility {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.search-box {
	height: 48px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr auto;
	align-items: center;
	background-color: var(--gray-color);
	border-radius: 48px;
	padding: var(--space-4);
}

.search-input {
	width: 100%;
	border: 0;
	cursor: text;
	outline: none;
	background-color: var(--gray-color);
}

.search-box__icon {
	border-radius: 40px;
	background-color: var(--white-color);
	padding: var(--space-2);
}

/* Mobile menu */

.mobile-menu {
	padding: 28px 19px;
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background-color: var(--white-color);
	transition: right 0.35s ease;
	box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1001;

	row-gap: var(--space-4);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
}

.mobile-menu__header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-items: flex-start;
}

.mobile-menu__logo {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-weight: bold;
	font-size: var(--fs-2xl);
}

.mobile-menu__logo :first-child {
	color: var(--primary-color);
}

.mobile-menu__list {
	display: grid;
	gap: 16px;
	grid-template-rows: repeat(4, auto);
}

.mobile-menu__list li:first-child {
	background-color: var(--secondary-color);
}

.mobile-menu__list li:first-child .mobile-menu__link {
	gap: 8px;
	justify-content: space-between;
}

.mobile-menu__item {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.mobile-menu__link {
	gap: 8px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 12px;
	font-weight: 500;

	color: var(--primary-text-color) !important;
}

.border-bottom {
	border-bottom: 1px solid #ebebeb;
}

.mobile-menu__link :first-child {
	gap: 8px;
}

.mobile-menu__footer-list {
	display: grid;
	row-gap: 10px;
	grid-template-rows: repeat(3, auto);
}

.mobile-menu__footer-item {
	padding: 8px;
}

.mobile-menu__footer-link {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	color: var(--primary-text-color);
	font-weight: 500;
}

.mobile-menu__footer-label {
	font-size: 14px;
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	pointer-events: none;
	transition: 0.35s;
	z-index: 1000;
}

/* Active states */
.mobile-menu.active {
	right: 0;
}
.overlay.active {
	opacity: 1;
	pointer-events: auto;
}

/** _________________________________________ Main _________________________________________ **/

#main-content {
	background-color: brown;
}

/** _________________________________________ Footer _________________________________________ **/

#footer {
	height: 50px;
	background-color: blueviolet;
}
